<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<doxygen xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="compound.xsd" version="1.8.17">
  <compounddef id="namespace_e_x_p_r_o_b_l_a_b___assignment2_1_1name__mapper" kind="namespace" language="Python">
    <compoundname>EXPROBLAB_Assignment2::name_mapper</compoundname>
      <sectiondef kind="var">
      <memberdef kind="variable" id="namespace_e_x_p_r_o_b_l_a_b___assignment2_1_1name__mapper_1ae6b52513c8f7343e67e71f0c73c309b7" prot="public" static="no" mutable="no">
        <type>string</type>
        <definition>string EXPROBLAB_Assignment2::name_mapper.INIT_STATE</definition>
        <argsstring></argsstring>
        <name>INIT_STATE</name>
        <initializer>=  &apos;INIT_STATE&apos;</initializer>
        <briefdescription>
<para>Definition of the states name of the Finite State Machine and its sub-machine. </para>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="/root/ros_ws/src/EXPROBLAB_Assignment2/utilities/EXPROBLAB_Assignment2/name_mapper.py" line="33" column="1" bodyfile="/root/ros_ws/src/EXPROBLAB_Assignment2/utilities/EXPROBLAB_Assignment2/name_mapper.py" bodystart="33" bodyend="-1"/>
      </memberdef>
      <memberdef kind="variable" id="namespace_e_x_p_r_o_b_l_a_b___assignment2_1_1name__mapper_1a25ff774ee036e2c9adcdee6985d67098" prot="public" static="no" mutable="no">
        <type>string</type>
        <definition>string EXPROBLAB_Assignment2::name_mapper.RECHARGE</definition>
        <argsstring></argsstring>
        <name>RECHARGE</name>
        <initializer>=  &apos;RECHARGE&apos;</initializer>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="/root/ros_ws/src/EXPROBLAB_Assignment2/utilities/EXPROBLAB_Assignment2/name_mapper.py" line="34" column="1" bodyfile="/root/ros_ws/src/EXPROBLAB_Assignment2/utilities/EXPROBLAB_Assignment2/name_mapper.py" bodystart="34" bodyend="-1"/>
      </memberdef>
      <memberdef kind="variable" id="namespace_e_x_p_r_o_b_l_a_b___assignment2_1_1name__mapper_1ac2885862b2fe4dfb3bfd4ffcc8109862" prot="public" static="no" mutable="no">
        <type>string</type>
        <definition>string EXPROBLAB_Assignment2::name_mapper.REASONER</definition>
        <argsstring></argsstring>
        <name>REASONER</name>
        <initializer>=  &apos;REASONER&apos;</initializer>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="/root/ros_ws/src/EXPROBLAB_Assignment2/utilities/EXPROBLAB_Assignment2/name_mapper.py" line="35" column="1" bodyfile="/root/ros_ws/src/EXPROBLAB_Assignment2/utilities/EXPROBLAB_Assignment2/name_mapper.py" bodystart="35" bodyend="-1"/>
      </memberdef>
      <memberdef kind="variable" id="namespace_e_x_p_r_o_b_l_a_b___assignment2_1_1name__mapper_1a7e653cafff092bd1eb00cb980ea80609" prot="public" static="no" mutable="no">
        <type>string</type>
        <definition>string EXPROBLAB_Assignment2::name_mapper.PLAN_PATH_TO_LOCATION</definition>
        <argsstring></argsstring>
        <name>PLAN_PATH_TO_LOCATION</name>
        <initializer>=  &apos;PLAN_PATH_TO_LOCATION&apos;</initializer>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="/root/ros_ws/src/EXPROBLAB_Assignment2/utilities/EXPROBLAB_Assignment2/name_mapper.py" line="36" column="1" bodyfile="/root/ros_ws/src/EXPROBLAB_Assignment2/utilities/EXPROBLAB_Assignment2/name_mapper.py" bodystart="36" bodyend="-1"/>
      </memberdef>
      <memberdef kind="variable" id="namespace_e_x_p_r_o_b_l_a_b___assignment2_1_1name__mapper_1a14f8725e19323bc9212d1dd65ab2cd11" prot="public" static="no" mutable="no">
        <type>string</type>
        <definition>string EXPROBLAB_Assignment2::name_mapper.GO_TO_LOCATION_TO_VISIT</definition>
        <argsstring></argsstring>
        <name>GO_TO_LOCATION_TO_VISIT</name>
        <initializer>=  &apos;GO_TO_LOCATION_TO_VISIT&apos;</initializer>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="/root/ros_ws/src/EXPROBLAB_Assignment2/utilities/EXPROBLAB_Assignment2/name_mapper.py" line="37" column="1" bodyfile="/root/ros_ws/src/EXPROBLAB_Assignment2/utilities/EXPROBLAB_Assignment2/name_mapper.py" bodystart="37" bodyend="-1"/>
      </memberdef>
      <memberdef kind="variable" id="namespace_e_x_p_r_o_b_l_a_b___assignment2_1_1name__mapper_1aa96901ace792e275d5ded504a014853f" prot="public" static="no" mutable="no">
        <type>string</type>
        <definition>string EXPROBLAB_Assignment2::name_mapper.MOVE_RANDOM</definition>
        <argsstring></argsstring>
        <name>MOVE_RANDOM</name>
        <initializer>=  &apos;MOVE_RANDOM&apos;</initializer>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="/root/ros_ws/src/EXPROBLAB_Assignment2/utilities/EXPROBLAB_Assignment2/name_mapper.py" line="38" column="1" bodyfile="/root/ros_ws/src/EXPROBLAB_Assignment2/utilities/EXPROBLAB_Assignment2/name_mapper.py" bodystart="38" bodyend="-1"/>
      </memberdef>
      <memberdef kind="variable" id="namespace_e_x_p_r_o_b_l_a_b___assignment2_1_1name__mapper_1aafd0e9f6ba433a9d665525e2e0d979a2" prot="public" static="no" mutable="no">
        <type>string</type>
        <definition>string EXPROBLAB_Assignment2::name_mapper.BATTERY_OK</definition>
        <argsstring></argsstring>
        <name>BATTERY_OK</name>
        <initializer>=  &apos;BATTERY_OK&apos;</initializer>
        <briefdescription>
<para>Definition of the action needed to change state or to check the shared vriable for adopting the FSM behaviour. </para>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="/root/ros_ws/src/EXPROBLAB_Assignment2/utilities/EXPROBLAB_Assignment2/name_mapper.py" line="43" column="1" bodyfile="/root/ros_ws/src/EXPROBLAB_Assignment2/utilities/EXPROBLAB_Assignment2/name_mapper.py" bodystart="43" bodyend="-1"/>
      </memberdef>
      <memberdef kind="variable" id="namespace_e_x_p_r_o_b_l_a_b___assignment2_1_1name__mapper_1ac205e99e145f3749392c866f08c2e46e" prot="public" static="no" mutable="no">
        <type>string</type>
        <definition>string EXPROBLAB_Assignment2::name_mapper.BATTERY_LOW</definition>
        <argsstring></argsstring>
        <name>BATTERY_LOW</name>
        <initializer>=  &apos;BATTERY_LOW&apos;</initializer>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="/root/ros_ws/src/EXPROBLAB_Assignment2/utilities/EXPROBLAB_Assignment2/name_mapper.py" line="44" column="1" bodyfile="/root/ros_ws/src/EXPROBLAB_Assignment2/utilities/EXPROBLAB_Assignment2/name_mapper.py" bodystart="44" bodyend="-1"/>
      </memberdef>
      <memberdef kind="variable" id="namespace_e_x_p_r_o_b_l_a_b___assignment2_1_1name__mapper_1a181111ec5dd435d832072c916e0ce615" prot="public" static="no" mutable="no">
        <type>string</type>
        <definition>string EXPROBLAB_Assignment2::name_mapper.LOADED_ONTOLOGY</definition>
        <argsstring></argsstring>
        <name>LOADED_ONTOLOGY</name>
        <initializer>=  &apos;LOADED_ONTOLOGY&apos;</initializer>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="/root/ros_ws/src/EXPROBLAB_Assignment2/utilities/EXPROBLAB_Assignment2/name_mapper.py" line="45" column="1" bodyfile="/root/ros_ws/src/EXPROBLAB_Assignment2/utilities/EXPROBLAB_Assignment2/name_mapper.py" bodystart="45" bodyend="-1"/>
      </memberdef>
      <memberdef kind="variable" id="namespace_e_x_p_r_o_b_l_a_b___assignment2_1_1name__mapper_1a1143c768d8676a1f3da33e129604e99e" prot="public" static="no" mutable="no">
        <type>string</type>
        <definition>string EXPROBLAB_Assignment2::name_mapper.REASONED</definition>
        <argsstring></argsstring>
        <name>REASONED</name>
        <initializer>=  &apos;REASONED&apos;</initializer>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="/root/ros_ws/src/EXPROBLAB_Assignment2/utilities/EXPROBLAB_Assignment2/name_mapper.py" line="46" column="1" bodyfile="/root/ros_ws/src/EXPROBLAB_Assignment2/utilities/EXPROBLAB_Assignment2/name_mapper.py" bodystart="46" bodyend="-1"/>
      </memberdef>
      <memberdef kind="variable" id="namespace_e_x_p_r_o_b_l_a_b___assignment2_1_1name__mapper_1a4a901003c356d8b3a18c3e5ecf0c6632" prot="public" static="no" mutable="no">
        <type>string</type>
        <definition>string EXPROBLAB_Assignment2::name_mapper.PLANNED_PATH</definition>
        <argsstring></argsstring>
        <name>PLANNED_PATH</name>
        <initializer>=  &apos;PLANNED_PATH&apos;</initializer>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="/root/ros_ws/src/EXPROBLAB_Assignment2/utilities/EXPROBLAB_Assignment2/name_mapper.py" line="47" column="1" bodyfile="/root/ros_ws/src/EXPROBLAB_Assignment2/utilities/EXPROBLAB_Assignment2/name_mapper.py" bodystart="47" bodyend="-1"/>
      </memberdef>
      <memberdef kind="variable" id="namespace_e_x_p_r_o_b_l_a_b___assignment2_1_1name__mapper_1aac86fa6ea84ed051f3d13a4ca4f05beb" prot="public" static="no" mutable="no">
        <type>string</type>
        <definition>string EXPROBLAB_Assignment2::name_mapper.LOCATION_REACHED</definition>
        <argsstring></argsstring>
        <name>LOCATION_REACHED</name>
        <initializer>=  &apos;LOCATION_REACHED&apos;</initializer>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="/root/ros_ws/src/EXPROBLAB_Assignment2/utilities/EXPROBLAB_Assignment2/name_mapper.py" line="48" column="1" bodyfile="/root/ros_ws/src/EXPROBLAB_Assignment2/utilities/EXPROBLAB_Assignment2/name_mapper.py" bodystart="48" bodyend="-1"/>
      </memberdef>
      <memberdef kind="variable" id="namespace_e_x_p_r_o_b_l_a_b___assignment2_1_1name__mapper_1aa66baa711e4cb9488eb406692817dcf6" prot="public" static="no" mutable="no">
        <type>string</type>
        <definition>string EXPROBLAB_Assignment2::name_mapper.RECHARGING_CHECK</definition>
        <argsstring></argsstring>
        <name>RECHARGING_CHECK</name>
        <initializer>=  &apos;RECHARGING_CHECK&apos;</initializer>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="/root/ros_ws/src/EXPROBLAB_Assignment2/utilities/EXPROBLAB_Assignment2/name_mapper.py" line="49" column="1" bodyfile="/root/ros_ws/src/EXPROBLAB_Assignment2/utilities/EXPROBLAB_Assignment2/name_mapper.py" bodystart="49" bodyend="-1"/>
      </memberdef>
      <memberdef kind="variable" id="namespace_e_x_p_r_o_b_l_a_b___assignment2_1_1name__mapper_1adb7a8d8a118bfae19cefb84feddea068" prot="public" static="no" mutable="no">
        <type>string</type>
        <definition>string EXPROBLAB_Assignment2::name_mapper.ACTION_PLANNER</definition>
        <argsstring></argsstring>
        <name>ACTION_PLANNER</name>
        <initializer>=  &apos;motion/planner&apos;</initializer>
        <briefdescription>
<para>Name of the Action Servers and Clients used in the program. </para>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="/root/ros_ws/src/EXPROBLAB_Assignment2/utilities/EXPROBLAB_Assignment2/name_mapper.py" line="54" column="1" bodyfile="/root/ros_ws/src/EXPROBLAB_Assignment2/utilities/EXPROBLAB_Assignment2/name_mapper.py" bodystart="54" bodyend="-1"/>
      </memberdef>
      <memberdef kind="variable" id="namespace_e_x_p_r_o_b_l_a_b___assignment2_1_1name__mapper_1a203e9753edbc4cb33c83bee930c82062" prot="public" static="no" mutable="no">
        <type>string</type>
        <definition>string EXPROBLAB_Assignment2::name_mapper.ACTION_CONTROLLER</definition>
        <argsstring></argsstring>
        <name>ACTION_CONTROLLER</name>
        <initializer>=  &apos;motion/controller&apos;</initializer>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="/root/ros_ws/src/EXPROBLAB_Assignment2/utilities/EXPROBLAB_Assignment2/name_mapper.py" line="55" column="1" bodyfile="/root/ros_ws/src/EXPROBLAB_Assignment2/utilities/EXPROBLAB_Assignment2/name_mapper.py" bodystart="55" bodyend="-1"/>
      </memberdef>
      <memberdef kind="variable" id="namespace_e_x_p_r_o_b_l_a_b___assignment2_1_1name__mapper_1a25f204428befb7e61bed07d4187d2332" prot="public" static="no" mutable="no">
        <type>string</type>
        <definition>string EXPROBLAB_Assignment2::name_mapper.NODE_PLANNER</definition>
        <argsstring></argsstring>
        <name>NODE_PLANNER</name>
        <initializer>=  &apos;planner&apos;</initializer>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="/root/ros_ws/src/EXPROBLAB_Assignment2/utilities/EXPROBLAB_Assignment2/name_mapper.py" line="56" column="1" bodyfile="/root/ros_ws/src/EXPROBLAB_Assignment2/utilities/EXPROBLAB_Assignment2/name_mapper.py" bodystart="56" bodyend="-1"/>
      </memberdef>
      <memberdef kind="variable" id="namespace_e_x_p_r_o_b_l_a_b___assignment2_1_1name__mapper_1a8d16fa84df5898e7d550872283c9147a" prot="public" static="no" mutable="no">
        <type>string</type>
        <definition>string EXPROBLAB_Assignment2::name_mapper.NODE_CONTROLLER</definition>
        <argsstring></argsstring>
        <name>NODE_CONTROLLER</name>
        <initializer>=  &apos;controller&apos;</initializer>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="/root/ros_ws/src/EXPROBLAB_Assignment2/utilities/EXPROBLAB_Assignment2/name_mapper.py" line="57" column="1" bodyfile="/root/ros_ws/src/EXPROBLAB_Assignment2/utilities/EXPROBLAB_Assignment2/name_mapper.py" bodystart="57" bodyend="-1"/>
      </memberdef>
      <memberdef kind="variable" id="namespace_e_x_p_r_o_b_l_a_b___assignment2_1_1name__mapper_1a8ac81909dd896e75633fd018f4e29c6e" prot="public" static="no" mutable="no">
        <type>string</type>
        <definition>string EXPROBLAB_Assignment2::name_mapper.NODE_ROBOT_STATE</definition>
        <argsstring></argsstring>
        <name>NODE_ROBOT_STATE</name>
        <initializer>=  &apos;robot-state&apos;</initializer>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="/root/ros_ws/src/EXPROBLAB_Assignment2/utilities/EXPROBLAB_Assignment2/name_mapper.py" line="58" column="1" bodyfile="/root/ros_ws/src/EXPROBLAB_Assignment2/utilities/EXPROBLAB_Assignment2/name_mapper.py" bodystart="58" bodyend="-1"/>
      </memberdef>
      <memberdef kind="variable" id="namespace_e_x_p_r_o_b_l_a_b___assignment2_1_1name__mapper_1a0fe7515edd4962f0271f39323b724345" prot="public" static="no" mutable="no">
        <type>int</type>
        <definition>int EXPROBLAB_Assignment2::name_mapper.BATTERY_THRESHOLD</definition>
        <argsstring></argsstring>
        <name>BATTERY_THRESHOLD</name>
        <initializer>=  300</initializer>
        <briefdescription>
<para>Parameter for the battery threshold (when it gets low) in seconds. </para>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="/root/ros_ws/src/EXPROBLAB_Assignment2/utilities/EXPROBLAB_Assignment2/name_mapper.py" line="62" column="1" bodyfile="/root/ros_ws/src/EXPROBLAB_Assignment2/utilities/EXPROBLAB_Assignment2/name_mapper.py" bodystart="62" bodyend="-1"/>
      </memberdef>
      <memberdef kind="variable" id="namespace_e_x_p_r_o_b_l_a_b___assignment2_1_1name__mapper_1a5b8a254df0d8db84b0dcae219ef4f33d" prot="public" static="no" mutable="no">
        <type>int</type>
        <definition>int EXPROBLAB_Assignment2::name_mapper.BUSY_PARAMETER</definition>
        <argsstring></argsstring>
        <name>BUSY_PARAMETER</name>
        <initializer>=  5</initializer>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="/root/ros_ws/src/EXPROBLAB_Assignment2/utilities/EXPROBLAB_Assignment2/name_mapper.py" line="64" column="1" bodyfile="/root/ros_ws/src/EXPROBLAB_Assignment2/utilities/EXPROBLAB_Assignment2/name_mapper.py" bodystart="64" bodyend="-1"/>
      </memberdef>
      <memberdef kind="variable" id="namespace_e_x_p_r_o_b_l_a_b___assignment2_1_1name__mapper_1a528eb25a02c9e017fb07dc569939b9fb" prot="public" static="no" mutable="no">
        <type>int</type>
        <definition>int EXPROBLAB_Assignment2::name_mapper.NUMBER_OF_POINTS_PATH</definition>
        <argsstring></argsstring>
        <name>NUMBER_OF_POINTS_PATH</name>
        <initializer>=  10</initializer>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="/root/ros_ws/src/EXPROBLAB_Assignment2/utilities/EXPROBLAB_Assignment2/name_mapper.py" line="66" column="1" bodyfile="/root/ros_ws/src/EXPROBLAB_Assignment2/utilities/EXPROBLAB_Assignment2/name_mapper.py" bodystart="66" bodyend="-1"/>
      </memberdef>
      <memberdef kind="variable" id="namespace_e_x_p_r_o_b_l_a_b___assignment2_1_1name__mapper_1a7138885ef7176950c9b055ebacb2ee0f" prot="public" static="no" mutable="no">
        <type>string</type>
        <definition>string EXPROBLAB_Assignment2::name_mapper.RECHARGING_ROOM</definition>
        <argsstring></argsstring>
        <name>RECHARGING_ROOM</name>
        <initializer>=  &apos;E&apos;</initializer>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="/root/ros_ws/src/EXPROBLAB_Assignment2/utilities/EXPROBLAB_Assignment2/name_mapper.py" line="68" column="1" bodyfile="/root/ros_ws/src/EXPROBLAB_Assignment2/utilities/EXPROBLAB_Assignment2/name_mapper.py" bodystart="68" bodyend="-1"/>
      </memberdef>
      <memberdef kind="variable" id="namespace_e_x_p_r_o_b_l_a_b___assignment2_1_1name__mapper_1a8f5fb1edb28e6c4921d12cc74c452629" prot="public" static="no" mutable="no">
        <type>list</type>
        <definition>list EXPROBLAB_Assignment2::name_mapper.ROOMS</definition>
        <argsstring></argsstring>
        <name>ROOMS</name>
        <initializer>=  [&apos;E&apos;, &apos;C1&apos;, &apos;C2&apos;, &apos;R1&apos;, &apos;R2&apos;, &apos;R3&apos;, &apos;R4&apos;]</initializer>
        <briefdescription>
<para>List of all the locations in the onotlogy. </para>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="/root/ros_ws/src/EXPROBLAB_Assignment2/utilities/EXPROBLAB_Assignment2/name_mapper.py" line="72" column="1" bodyfile="/root/ros_ws/src/EXPROBLAB_Assignment2/utilities/EXPROBLAB_Assignment2/name_mapper.py" bodystart="72" bodyend="-1"/>
      </memberdef>
      <memberdef kind="variable" id="namespace_e_x_p_r_o_b_l_a_b___assignment2_1_1name__mapper_1a8f9c8aa1d48c21a9623837ec8c31d85a" prot="public" static="no" mutable="no">
        <type>list</type>
        <definition>list EXPROBLAB_Assignment2::name_mapper.COORDINATES</definition>
        <argsstring></argsstring>
        <name>COORDINATES</name>
        <initializer>=  [[0.0,0.0], [2.0,0.0], [3.0,0.0], [1.0,0.0], [1.0,1.0], [4.0,0.0], [4.0,1.0]]</initializer>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="/root/ros_ws/src/EXPROBLAB_Assignment2/utilities/EXPROBLAB_Assignment2/name_mapper.py" line="75" column="1" bodyfile="/root/ros_ws/src/EXPROBLAB_Assignment2/utilities/EXPROBLAB_Assignment2/name_mapper.py" bodystart="75" bodyend="-1"/>
      </memberdef>
      </sectiondef>
      <sectiondef kind="func">
      <memberdef kind="function" id="namespace_e_x_p_r_o_b_l_a_b___assignment2_1_1name__mapper_1a867184196330b8f1bcd77d3e6bfe5dd3" prot="public" static="no" const="no" explicit="no" inline="no" virt="non-virtual">
        <type>def</type>
        <definition>def EXPROBLAB_Assignment2.name_mapper.tag_log</definition>
        <argsstring>(msg, producer_tag)</argsstring>
        <name>tag_log</name>
        <param>
          <type>msg</type>
          <defname>msg</defname>
        </param>
        <param>
          <type>producer_tag</type>
          <defname>producer_tag</defname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
<para><verbatim>This function is used to generate the log tag that is shown in the FSM while running.

    Args:
        msg(String): message to be visualized
        producer_tag(String): name of the state that has to send the log message

    Returns:
        log_msg(String): message for the log
</verbatim> </para>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="/root/ros_ws/src/EXPROBLAB_Assignment2/utilities/EXPROBLAB_Assignment2/name_mapper.py" line="78" column="1" bodyfile="/root/ros_ws/src/EXPROBLAB_Assignment2/utilities/EXPROBLAB_Assignment2/name_mapper.py" bodystart="78" bodyend="90"/>
      </memberdef>
      </sectiondef>
    <briefdescription>
    </briefdescription>
    <detaileddescription>
<para><verbatim>.. module:: name_mapper
    :platform: ROS
    :synopsis: Class for the Name Mapper module
    
.. moduleauthor:: Matteo Maragliano 4636216@studenti.unitge.it

This scripts is used in the package to define all the names of the variables used. It is a way to use a variable instead of the total name thus avoiding spelling problems while writing it.
It is divided as follows:

* name of the state if the Finite State Machine and of the Sub Finite State Machine;
* name of all the transition used: there are also some parameters that are not properly transition but they are used to modify the value of the shared variable of the helper to guarantee the correct flow in the program;
* name of the action, planner and controller, used in the program;
* parameters for the robot behaviour:
    * battery threshold: value after which the robot has to be recharged;
    * busy paramter: value to define the busy waiting that the robot has to perform before starting the plan to another location;
    * number of points: value that define the number of points the planner module has to compute for each path required;
    * recharging room: string name of the recharging room. It is needed in particular when the robot has to check the availability of this particualr location when it has to go to the recharge state.
* rooms: name of all locations in the ontology;
* coordinates: x and y coordinate of each location. Here it is needed a  match one to one with the names above.</verbatim> </para>
    </detaileddescription>
    <location file="/root/ros_ws/src/EXPROBLAB_Assignment2/utilities/EXPROBLAB_Assignment2/name_mapper.py" line="1" column="1"/>
  </compounddef>
</doxygen>
