<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">>

  <!-- common properties -->
  <xacro:property name="M_PI" value="3.1415926535897931" />
  <xacro:property name="scale_robot" value="3"/>
  <xacro:property name="scale" value="${scale_robot*0.6}"/>
  <xacro:property name="threshold" value="${0}" />

  <!-- up limits [rad] -->
  <xacro:property name="joint_1_limit_up" value="${M_PI}" />
  <xacro:property name="joint_2_limit_up" value="2" />
  <xacro:property name="joint_3_limit_up" value="0" />
  <xacro:property name="joint_4_limit_up" value="2.5" />
  <xacro:property name="joint_5_limit_up" value="${M_PI}" />

  <!-- down limits [rad] -->
  <xacro:property name="joint_1_limit_down" value="${-M_PI}" />
  <xacro:property name="joint_2_limit_down" value="0" />
  <xacro:property name="joint_3_limit_down" value="-4.5" />
  <xacro:property name="joint_4_limit_down" value="0" />
  <xacro:property name="joint_5_limit_down" value="${-M_PI}" />

  <!-- up limits soft [rad] -->
  <xacro:property name="joint_1_limit_up_soft" value="${M_PI - threshold}" />
  <xacro:property name="joint_2_limit_up_soft" value="${2 - threshold}" />
  <xacro:property name="joint_3_limit_up_soft" value="${0 - threshold}" />
  <xacro:property name="joint_4_limit_up_soft" value="${2.5 - threshold}" />
  <xacro:property name="joint_5_limit_up_soft" value="${M_PI - threshold}" />

  <!-- down limits soft [rad] -->
  <xacro:property name="joint_1_limit_down_soft" value="${-M_PI + threshold}" />
  <xacro:property name="joint_2_limit_down_soft" value="${0 + threshold}" />
  <xacro:property name="joint_3_limit_down_soft" value="${-4.5 + threshold}" />
  <xacro:property name="joint_4_limit_down_soft" value="${0 + threshold}" />
  <xacro:property name="joint_5_limit_down_soft" value="${-M_PI + threshold}" />

  <!-- dynamic properties : mass (kg) Alu data sheet -->
  <xacro:property name="link_0_mass" value="${scale*0.845}" />
  <xacro:property name="link_1_mass" value="${scale*2.412}" />
  <xacro:property name="link_2_mass" value="${scale*1.155}" />
  <xacro:property name="link_3_mass" value="${scale*0.934}" />
  <xacro:property name="link_4_mass" value="${scale*0.877}" />
  <xacro:property name="link_5_mass" value="${scale*0.251}" />
  <!--<xacro:property name="link_0_mass" value="0.845" />
  <xacro:property name="link_1_mass" value="0.1" />
  <xacro:property name="link_2_mass" value="0.1" />
  <xacro:property name="link_3_mass" value="0.1" />
  <xacro:property name="link_4_mass" value="0.1" />
  <xacro:property name="link_5_mass" value="0.1" />-->
  <!-- TODO: add inertia tensor-->
  <xacro:macro name="default_origin">
    <origin xyz="0 0 0" rpy="0 0 0"/> <!-- no data known -->
  </xacro:macro>

  <xacro:macro name="link_default_inertia_tensor">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <inertia ixx="${scale*0.1}" ixy="0" ixz="0" iyy="${scale*0.1}" iyz="0" izz="${scale*0.1}" /> 
  </xacro:macro>  

  <xacro:macro name="link_1_inertia_tensor">
    <origin xyz="${scale*14.89/1000} ${scale*2.13/1000} ${scale*2.13/1000}" rpy="0 0 0" />
    <inertia ixx="${scale*0.003863}" ixy="${scale*-0.000979}" ixz="0.000000" iyy="${scale*0.006196}" iyz="0.000000" izz="${scale*0.006369}" />
  </xacro:macro>

  <xacro:macro name="link_2_inertia_tensor">
    <origin xyz="${scale*104.53/1000} ${scale*1.7/1000} ${scale*-2.97/1000}" rpy="0 0 0" />
    <inertia ixx="${scale*0.000823}" ixy="0.000000" ixz="-0.000000" iyy="${scale*0.004447}" iyz ="0.000000" izz="${scale*0.004439}" />
  </xacro:macro>

  <xacro:macro name="link_3_inertia_tensor">
    <origin xyz="${scale*0.1/1000} ${scale*96.7/1000} ${scale*21.07/1000}" rpy="0 0 0" />
    <inertia ixx="${scale*0.002459}" ixy="0.000000" ixz="0.000000" iyy="${scale*0.002571}" iyz="-0.000000" izz="${scale*0.000535}" />
  </xacro:macro>

  <xacro:macro name="link_4_inertia_tensor">
    <origin xyz="${scale*0.11/1000} ${scale*51.03/1000} ${scale*-23.19/1000}" rpy="0 0 0"  />
    <inertia ixx="${scale*0.000869}" ixy="0.000000" ixz="-0.000000" iyy="${scale*0.001173}" iyz="${scale*-0.000231}" izz="${scale*0.001091}" />
  </xacro:macro>

  <xacro:macro name="link_5_inertia_tensor">
    <origin xyz="${scale*0/1000} ${scale*1.15/1000} ${scale*-16.83/1000}" rpy="0 0 0" />
    <inertia ixx="${scale*0.000280}" ixy="0.000000" ixz="0.000000" iyy="${scale*0.000339}" iyz="0.000000" izz="${scale*0.000119}" />
  </xacro:macro>

</robot>