<launch>

  <include file="$(find EXPROBALB_Assignment2)/launch/assignment.launch"/>

    <node pkg="armor" 
          type="execute" 
          name="armor_service" 
          args="it.emarolab.armor.ARMORMainService"
          launch-prefix="xterm -fa 'Monospace' -fs 10 -e"
          output="screen">
    </node>

</launch>